@page "/korttitietokoneet"
@inject IJSRuntime Js
@inject NavigationManager NavigationManager

<!-- Korttitietokoneet -->

<div id="korttitietokoneet" class="container">

    <div class="Hover_area" id="hover_style">

        <div id="open" style="text-align:center">

        </div>
        <div class="customization-process">
    <section class="customization-process-W">
    <div class="row people">
    <div class="col-md-12 col-lg-12">
    <div class="table-responsive text-center">

    <div class="secondary-title">
        <h4>Korttitietokoneet</h4>
    </div>

        <div id="id01" class="table t1" style="color:white;">  
        
            <div class="intro">
                <div style="background-color:#330808" >         
                </div>
            </div>  
            <div style="border-bottom-color:#fff0;"> 
            
                <BlazorModalAll TitleAll="Korttitietokoneet" IsOpened="isOpened" Items="henkilot" TItemAll="Henkilo">
                    <ModalBodyAll>
                        <table class="backgcolor">
                            <div class="intro">
                                Id-numero : #@context.NayteId
                            </div>
                            <tbody id="tBodyElement" @onclick="ToggleHeight" style="@(Selected ? "height:auto;" : "height:none;")">
                                <tr class="customization style1">
                                    <td>
                                        <div class="box" style="cursor: none;"><img class="img10" src="@context.KuvaUrl"></div>
                                        @if (!string.IsNullOrEmpty(context.Email))
                                        {
	                                        <a href="@context.Email" onclick="@context.AikaJaljella"><i aria-hidden="true">Lisätietoa</i></a>
                                        }
                                        else
                                        {
	                                        <a href="#" class="hidden-link">Lisätietoa</a>
                                        }
                                    </td>
                                    <td>
                                        <!--Profiili-->
                                        <div>
                                            <div class="item row">
                                                <div class="front">
                                                    <div class="box"><div class="text-center"><br><span class="clamp">@context.Kuvaus</span></div><br /></div>
                                                    <div class="box"><div class="text-center"><br><span class="clamp"></span>@context.Teknologiat</div><br /></div>
                                                    <div><hr style="color:black; height:10px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Profiili-->
                                    </td>
                                </tr>
                            </tbody>
                            @if (!string.IsNullOrEmpty(context.VideoUrl))
                            {
                                <div id="vid00">
                                    <video id="vid01" class="vidText" src="@context.VideoUrl" controls="" muted="" loop="" type="video/mp4"></video>
                                </div>
                            }
                            else
                            {
                                //
                            }
                            <hr style="background-color: red;padding: 10px;min-width: 200px;">
                        </table>
                    </ModalBodyAll>
                    <ModalFooterAll>

                    </ModalFooterAll>
                </BlazorModalAll>        
            </div>  
        </div>   
    </div>
    </div>
    </div>
    </section>
    </div>
</div>
</div>

@code {
    public bool Selected { get; set; } = false;

    public void ToggleHeight()
    {
        Selected = !Selected;
    }

    private void NavigateToNewPage()
    {
        NavigationManager.NavigateTo("korttitietokoneet", true);
    }

     bool isOpened = true;

     private List<Henkilo> henkilot = new()
    {
        new Henkilo { NayteId = "1868772087", Email="https://www.raspberrypi.com", Tila = "", Paikka = "korttitietokoneet", Saatavilla = "Tuotteen saatavuus näkyy kategoriassa korttitietokoneet tai hakuikkunan alapuolelta", KoodiUrl = "https://www.raspberrypi.com/documentation", KuvaUrl = "assets/img/a-00101-n.jpg", Kuvaus = "Pienikokoinen korttitietokone RPi 4", Teknologiat = "Raspberry Pi 4 (RPi 4). Saatavilla neljässä eri versiossa", Maksutapahtuma = "", AikaJaljella = "", AjanTarkkuus = "", VideoUrl ="https://datalnetsys.z6.web.core.windows.net/video/How_to_set_up_a_Raspberry_Pi.mp4" },
        new Henkilo { NayteId = "109164555", Email="https://www.raspberrypi.com", Tila = "", Paikka = "korttitietokoneet", Saatavilla = "Tuotteen saatavuus näkyy kategoriassa korttitietokoneet tai hakuikkunan alapuolelta", KoodiUrl = "https://datasheets.raspberrypi.com/cm4/cm4-product-brief.pdf", KuvaUrl = "assets/img/cm4.jpg", Kuvaus = "IoT-sovelluksiin ja teollisuuskohteisiin (CM4)", Teknologiat = "Raspberry Pi Compute Module 4 (CM4). Tarvitset myös kehityslaudan", Maksutapahtuma = "", AikaJaljella = "", AjanTarkkuus = "", VideoUrl ="https://datalnetsys.z6.web.core.windows.net/video/WBoardCm4.mp4" },
       // new Henkilo { NayteId = "a-00103-n", Email="https://www.raspberrypi.com", Tila = "", Paikka = "korttitietokoneet", Saatavilla = "Tuotteen saatavuus näkyy kategoriassa korttitietokoneet tai hakuikkunan alapuolelta", KoodiUrl = "https://www.raspberrypi.com/documentation", KuvaUrl = "assets/img/a-00101-n.jpg", Kuvaus = "Raspberry Pi 4 - 4gb versio", Teknologiat = "", Maksutapahtuma = "", AikaJaljella = "", AjanTarkkuus = "", VideoUrl ="" },
       // new Henkilo { NayteId = "a-00104-n", Email="https://www.raspberrypi.com", Tila = "", Paikka = "korttitietokoneet", Saatavilla = "Tuotteen saatavuus näkyy kategoriassa korttitietokoneet tai hakuikkunan alapuolelta", KoodiUrl = "https://www.raspberrypi.com/documentation", KuvaUrl = "assets/img/a-00101-n.jpg", Kuvaus = "Raspberry Pi 4 - 8gb versio", Teknologiat = "", Maksutapahtuma = "", AikaJaljella = "", AjanTarkkuus = "", VideoUrl ="" },
       // new Henkilo { NayteId = "a-00105-n", Email="https://www.raspberrypi.com", Tila = "", Paikka = "korttitietokoneet", Saatavilla = "Tuotteen saatavuus näkyy kategoriassa korttitietokoneet tai hakuikkunan alapuolelta", KoodiUrl = "https://www.raspberrypi.com/documentation", KuvaUrl = "assets/img/a-00105-n.jpg", Kuvaus = "Raspberry Pi Zero W", Teknologiat = "", Maksutapahtuma = "", AikaJaljella = "", AjanTarkkuus = "", VideoUrl ="" }

    };

    private class Henkilo
    {
        public int HenkiloId { get; set; }
        public string? NayteId { get; set; }  
        public string? Nimi { get; set; } 
        public string? Paikka { get; set; }   
        public string? Tila { get; set; }   
        public string? Saatavilla { get; set; } 
        public string? KoodiUrl { get; set; } 
        public string? KuvaUrl { get; set; } 
        public string? Kuvaus { get; set; } 
        public string? Teknologiat { get; set; } 
        public string? Maksutapahtuma { get; set; } 
        public string? AikaJaljella { get; set; } 
        public string? AjanTarkkuus { get; set; } 
        public string? Email { get; set; } 
        public string? VideoUrl { get; set; }
    }

}

