@page "/tyoskentelyalustat"
@inject IJSRuntime Js
@inject NavigationManager NavigationManager

<!-- Työskentelyalustat -->

<div id="tyoskentelyalustat" class="container">

    <div class="Hover_area" id="hover_style">

        <div id="open" style="text-align:center">

        </div>
        <div class="customization-process">
    <section>
    <div class="row people">
    <div class="col-md-12 col-lg-12">
    <div class="table-responsive text-center">

        <div class="secondary-title">
            <h4>Työskentelyalustat</h4>
        </div>

        <div id="id01" class="table t1">                
        
            <div class="intro">
                <div style="background-color:#330808" >         
                </div>
            </div>  
            <div style="border-bottom-color:#fff0;">

                <BlazorModalAll TitleAll="Työskentelyalustat" IsOpened="isOpened" Items="henkilot" TItemAll="Henkilo">
                    <ModalBodyAll>
                        <table class="backgcolor">
                            <div class="intro">
                                Id-numero: #@context.NayteId
                            </div>
                            <tbody id="tBodyElement" @onclick="ToggleHeight" style="@(Selected ? "height:auto;" : "height:none;")">
                                <tr class="customization style1">
                                    <td>
                                        <div class="box" style="cursor: none;"><img class="img10" src="@context.KuvaUrl"></div>
                                        @if (!string.IsNullOrEmpty(context.Email))
                                        {
	                                        <a href="@context.Email" onclick="@context.AikaJaljella"><i aria-hidden="true">Lisätietoa</i></a>
                                        }
                                        else
                                        {
	                                        <a href="#" class="hidden-link">Lisätietoa</a>
                                        }
                                    </td>
                                    <td>
                                        <!--Profiili-->
                                        <div>
                                            <div class="item row">
                                                <div class="front">
                                                    <div class="box"><div class="text-center"><br><span class="clamp">@context.Kuvaus</span></div><br /></div>
                                                    <div class="box"><div class="text-center"><br><span class="clamp"></span>@context.Teknologiat</div><br /></div>
                                                    <div><hr style="color:black; height:10px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Profiili-->
                                    </td>
                                </tr>
                            </tbody>
                            @if (!string.IsNullOrEmpty(context.VideoUrl))
                            {
                                <div id="vid00">
                                    <video id="vid01" class="vidText" src="@context.VideoUrl" controls="" muted="" loop="" type="video/mp4"></video>
                                </div>
                            }
                            else
                            {
                                //
                            }
                            <hr style="background-color: red;padding: 10px;min-width: 200px;">
                        </table>
                    </ModalBodyAll>
                    <ModalFooterAll>

                    </ModalFooterAll>
                </BlazorModalAll>
            </div>  
        </div>   
    </div>
    </div>
    </div>
    </section>
    </div>
</div>

<div id="customization">
<div class="secondary-title">
        
</div>
<div class="video-area">
    <iframe width="660" height="380" src="https://" frameborder="0" allow="accelerometer; autoplay; encrypted-media;" allowfullscreen></iframe>
</div>
</div>
</div>

@code {
    public bool Selected { get; set; } = false;

    public void ToggleHeight()
    {
        Selected = !Selected;
    }

    private void NavigateToNewPage()
    {
        NavigationManager.NavigateTo("tyoskentelyalustat", true);
    }

     bool isOpened = true;

     private List<Henkilo> henkilot = new()
    {
        new Henkilo { NayteId = "1965632538", Email= "", Tila = "", Paikka = "tyoskentelyalustat", Saatavilla = "Saatavuus, toimitustapa ja varastotilanne hakuikkunan alapuolelta. Tämän tuotteen saatavuus tuotepakettiin", KoodiUrl = "", KuvaUrl = "assets/img/matto1.jpg", Kuvaus = "Antistaattinen liukumaton silikoni -korjausmatto", Teknologiat = "Valmistettu myrkyttömästä silikonista. Suojaa pintojasi", Maksutapahtuma = "", AikaJaljella = "", AjanTarkkuus = "", VideoUrl ="" }
       // new Henkilo { NayteId = "app-01702-lit", Email="", Tila = "", Paikka = "tyoskentelyalustat", Saatavilla = "Saatavuus, toimitustapa ja varastotilanne hakuikkunan alapuolelta. Tämän tuotteen saatavuus tuotepakettiin", KoodiUrl = "", KuvaUrl = "assets/img/animation/Style 2.gif", Kuvaus = "", Teknologiat = "", Maksutapahtuma = "", AikaJaljella = "", AjanTarkkuus = "", VideoUrl ="" },
       // new Henkilo { NayteId = "app-01703-lit", Email="", Tila = "", Paikka = "tyoskentelyalustat", Saatavilla = "Saatavuus, toimitustapa ja varastotilanne hakuikkunan alapuolelta. Tämän tuotteen saatavuus tuotepakettiin", KoodiUrl = "", KuvaUrl = "assets/img/animation/Style 2.gif", Kuvaus = "", Teknologiat = "", Maksutapahtuma = "", AikaJaljella = "", AjanTarkkuus = "", VideoUrl ="" },
       // new Henkilo { NayteId = "app-01704-lit", Email="", Tila = "", Paikka = "tyoskentelyalustat", Saatavilla = "Saatavuus, toimitustapa ja varastotilanne hakuikkunan alapuolelta. Tämän tuotteen saatavuus tuotepakettiin", KoodiUrl = "", KuvaUrl = "assets/img/animation/Style 2.gif", Kuvaus = "", Teknologiat = "", Maksutapahtuma = "", AikaJaljella = "", AjanTarkkuus = "", VideoUrl ="" },
       // new Henkilo { NayteId = "app-01705-lit", Email="", Tila = "", Paikka = "tyoskentelyalustat", Saatavilla = "Saatavuus, toimitustapa ja varastotilanne hakuikkunan alapuolelta. Tämän tuotteen saatavuus tuotepakettiin", KoodiUrl = "", KuvaUrl = "assets/img/animation/Style 2.gif", Kuvaus = "", Teknologiat = "", Maksutapahtuma = "", AikaJaljella = "", AjanTarkkuus = "", VideoUrl ="" }

    };

    private class Henkilo
    {
        public int HenkiloId { get; set; }
        public string? NayteId { get; set; }  
        public string? Nimi { get; set; } 
        public string? Paikka { get; set; }   
        public string? Tila { get; set; }   
        public string? Saatavilla { get; set; } 
        public string? KoodiUrl { get; set; } 
        public string? KuvaUrl { get; set; } 
        public string? Kuvaus { get; set; } 
        public string? Teknologiat { get; set; } 
        public string? Maksutapahtuma { get; set; } 
        public string? AikaJaljella { get; set; } 
        public string? AjanTarkkuus { get; set; } 
        public string? Email { get; set; } 
        public string? VideoUrl { get; set; }

    }

}

